:root {
    --fuenteHeading: 'Pt Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --colorPrimario: #784D3C;
    --blanco: #ffffff;
    --negro: #000000;
}

html {
    box-sizing: border-box;       /*solucion:el border o padding etc, no afecta el tamaño de los elementos*/
    font-size: 62.5px; /*1rem = 10px*/
}
*, *:before, *:after {            /*solucion:el border o padding etc, no afecta el tamaño de los elementos*/
    box-sizing: inherit;          /*solucion:el border o padding etc, no afecta el tamaño de los elementos*/
}
body {
    font-family: var(--fuenteParrafos); /*fuente*/
    font-size: 1.6rem;           /*tamaño fuente*/
    line-height: 2;               /*interlineado*/
}

/** Globales **/
.contenedor {
    max-width: 120rem; /*tamaño total*/
    width: 90%;        /*tamaño ajustado*/
    margin: 0 auto;    /*sin dejar margenes arriba, abajo y automaticamente ajustados a los lados*/
}
a { /*enlaces*/
    text-decoration: none; /*quitar interlineado*/
}
h1, h2, h3, h4 { /*para todos los headings*/
    font-family: var(--fuenteHeading);  /*fuente*/
}
h1 {
    font-size: 4.8rem; 
} 
h2 {
    font-size: 4rem;
} 
h3 {
    font-size: 3.2rem;
} 
h4 {
    font-size: 2.8rem;
}
img {
    max-width: 100%;
}

/** Utilidades **/
.no-margin {
    margin: 0; /*elimina el margen a un elemento*/
}
.no-padding {
    padding: 0; /*elimina el padding a un elemento*/
}
.centrar.texto {
    text-align: center;
}